.form-container {
  width: 300px;
  margin: auto;
  font-size: 18px;
}

.container-layout {
  margin-top: 50px;
}

.form {
  text-align: left;
}

.form-control {
  font-size: inherit;
}

.form-element {
  margin-top: 16px;
}

.checkbox label {
  min-height: 30px;
}

.help-container {
  margin-top: 16px;
  text-align: center;
}

.forgot-password {
  padding-top: 10px;
  font-size: 1em;
  text-align: center;
}

.login-btn {
  text-align: center;
}